@using DOGEOnlineGeneralEditor.Models.ViewModels
@model ProjectViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="small-table-container">
    <div class="doge-header">@ViewBag.Title</div>
    <div class="form-container">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsPublic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsPublic)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
            @Html.ActionLink("Back to project", "Details", "Project", new { id = Model.ID }, null)
        }
    </div>
</div>