@using DOGEOnlineGeneralEditor.Models.ViewModels
@model ProjectViewModel
@{
    ViewBag.Title = "Details";
}

@if(TempData["Success"] != null)
{
    <div>@TempData["Success"]</div>
}
@Html.ValidationSummary()

<div class="file-container">
    <div class="doge-header">@Model.Name  <i class="glyphicon glyphicon-plus-sign"></i><i class="glyphicon glyphicon-send"></i><i class="glyphicon glyphicon-pencil"></i><i class="glyphicon glyphicon-trash"></i><i class="glyphicon glyphicon-search"></i></div>
    @{ Html.RenderPartial("_FileTable", Model.Files); }
</div>










































@Html.ActionLink("Add File", "Create", "File", new { id = Model.ProjectID }, null)
<br />
@Html.ActionLink("Add User to project", "AddUserToProject", "Project", new { id = Model.ProjectID }, null)
<br />
@Html.ActionLink("Edit project", "Edit", "Project", new { id = Model.ProjectID }, null)
<br />
@Html.ActionLink("Delete Project", "Delete", "Project", new { id = Model.ProjectID }, null)

<div>
    <h4>Project</h4>
    <hr />

    <ol>
        @foreach(var file in Model.Files)
        {
            <li>
                @Html.ActionLink(file.Name, "Editor", "Workspace", new { id = file.ID }, null)
                @using (Html.BeginForm("Delete", "File", FormMethod.Post, null))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("fileID", file.ID)
                    <input type="submit" value="Delete"/>
                }
            </li>
        }
    </ol>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LanguageType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageType.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.FileCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to MyProjects", "MyProjects","Workspace")
</p>
