@using DOGEOnlineGeneralEditor.Models.ViewModels
@model ProjectViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />

    <ol>
        @foreach(var file in Model.Files)
        {
            <li>@file.Name</li>
        }
    </ol>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LanguageType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageType.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.FileCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
