@using DOGEOnlineGeneralEditor.Models.ViewModels
@model ProjectViewModel
@{
    ViewBag.Title = "Details";
}
    
<div class="small-table-container">
    <div class="doge-header">@Model.Name  
        <div class="doge-header-icons"><a data-toggle="tooltip" data-placement="bottom" title="Create File" href="@Url.Action("Create", "File", new { id = Model.ID }, null)"><i class="glyphicon glyphicon-plus-sign"></i></a><!--
         --><a data-toggle="tooltip" data-placement="bottom" title="Add User to Project" href="@Url.Action("AddUserToProject", "Project", new { id = Model.ID }, null)"><i class="glyphicon glyphicon-send"></i></a><!--
         --><a data-toggle="tooltip" data-placement="bottom" title="Edit Project" href="@Url.Action("Edit", "Project", new { id = Model.ID }, null)"><i class="glyphicon glyphicon-pencil"></i></a><!--
         -->@if (Model.Owner == User.Identity.Name)
            {<!--
                 --><a data-toggle="tooltip" data-placement="bottom" title="Delete Project" href="@Url.Action("Delete", "Project", new { id = Model.ID }, null)"><i class="glyphicon glyphicon-trash"></i></a><!--
         -->}<!--
         --><i data-toggle="tooltip" data-placement="bottom" title="Search for Files" class="glyphicon glyphicon-search" id="glyphicon-files-search"></i><!--
     --></div><!--
     --><input type="text" id="files-search" class="table-searchbar" placeholder="Search..." />
    </div>
    <table id="files-table" class="table">
        @{ Html.RenderPartial("_FileTable", Model.Files); }
    </table>
</div>




@section Scripts {

    <script src="~/Scripts/table.js"></script>
}


