@model IEnumerable<DOGEOnlineGeneralEditor.Models.ViewModels.FileViewModel>


@*<div class="table-container">*@
        @if (!Model.Any())
        {
            <tr>
                <th>This project is empty</th>
                <th></th>
            </tr>}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a data-toggle="tooltip" data-placement="right" title="Open File" href="@Url.Action("Editor", "Workspace", new { id = item.ID }, null)">
                            @item.Name <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "File", new {id = item.ID }, FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <label for="@item.ID"><i data-toggle="tooltip" data-placement="bottom" title="Delete File" class="glyphicon glyphicon-trash trash-project"></i></label>
                            <input type="submit" id="@item.ID" class="hidden" />
                        }
                    </td>
                </tr>
            }
@*</div>*@