@model IEnumerable<DOGEOnlineGeneralEditor.Models.ViewModels.ProjectViewModel>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Public</th>
                <th>Date Created</th>
                @if (!(ViewContext.RouteData.Values["Action"].ToString() == "PublicProjects"))
                {
                    <th></th>}
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (!(ViewContext.RouteData.Values["Action"].ToString() == "PublicProjects"))
                        {
                            <a href="@Url.Action("Details", "Project", new { id = item.ProjectID }, null)">
                                @item.Name <i class="glyphicon glyphicon-pencil"></i>
                            </a>
}
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Name)
}
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Owner)</td>
                    <td>
                        @if (item.IsPublic)
                        {
                            <i class="glyphicon glyphicon-ok"></i>
}
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                    @if (!(ViewContext.RouteData.Values["Action"].ToString() == "PublicProjects"))
                    {
                        <td>
                            @{ if (item.Owner == User.Identity.Name)
                                {
                                    <i class="glyphicon glyphicon-trash"></i>
}
                                else
                                {
                                    using (Html.BeginForm("LeaveProject", "Project", FormMethod.Post, null))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("ProjectID", null, htmlAttributes: new { @id = item.ProjectID });
                                        <label for="leaveProjectSubmit"><i class="glyphicon glyphicon-remove"></i></label>
                                        <input type="submit" id="leaveProjectSubmit" class="hidden">
}
                                }
                            }
                        </td>   }
                </tr>            }
        </tbody>
    </table>
</div>