@model IEnumerable<DOGEOnlineGeneralEditor.Models.ViewModels.ProjectViewModel>


<thead>
    <tr>
        @if (!Model.Any())
        {
                
            <th>There are no projects to show</th>
            <th></th>
        }
        else
        {
            <th>Name</th>
            <th>Owner</th>

            if(!(ViewContext.RouteData.Values["Action"].ToString() == "PublicProjects"))
            {
                <th>Public</th>
            }
            else
            {
                <td class="hidden"></td>
            }
            
            <th>Created</th>
            <th></th>
        }              
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
               <a data-toggle="tooltip" data-placement="right" title="Open Project" href="@Url.Action("Details", "Project", new { id = item.ID }, null)">
                    @item.Name <i class="glyphicon glyphicon-pencil"></i>
               </a>
            </td>
            <td>@Html.DisplayFor(modelItem => item.Owner)</td>
            @if (!(ViewContext.RouteData.Values["Action"].ToString() == "PublicProjects"))
            { 
            <td>
                @if (item.IsPublic)
                {
                    <i class="glyphicon glyphicon-ok"></i>
                }
            </td>
            }
            else
            {
                <td class="hidden"></td>
            }
            <td>@item.DateCreated.ToShortDateString()</td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" title="Add User to Project" href="@Url.Action("AddUserToProject", "Project", new { id = item.ID }, null)"><i class="glyphicon glyphicon-send"></i></a>
                @if (item.Owner == User.Identity.Name)
                {
                    <input type="hidden" name="ProjectID" value="@item.ID" />
                    <i data-toggle="tooltip" data-placement="bottom" title="Delete Project" class="glyphicon glyphicon-trash trash-project"></i>
                }
                else if (!(ViewContext.RouteData.Values["Action"].ToString() == "PublicProjects"))
                {
                    using (Html.BeginForm("LeaveProject", "Project", FormMethod.Post, null))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="ProjectID" value="@item.ID" />
                        <label for="@item.ID"><i data-toggle="tooltip" data-placement="bottom" title="Leave Project" class="glyphicon glyphicon-remove"></i></label>
                        <input type="submit" id="@item.ID" class="hidden" />
                    }
                }
            </td>               
        </tr>            
    }
</tbody>
    