@model IEnumerable<DOGEOnlineGeneralEditor.Models.ViewModels.ProjectViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="hide"></th>
        <th>Name</th>
        <th>Owner</th>
        <th>Files</th>
        <th>Language</th>
        <th>Public</th>
        <th>Date Created</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="hide">@Html.DisplayFor(modelItem => item.ProjectID)</td>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.Owner)</td>
        <td>@Html.DisplayFor(modelItem => item.FileCount)</td>
        <td>@Html.DisplayFor(modelItem => item.LanguageTypeID)</td>
        <td>
            @if (item.IsPublic)
            {
                <i class="glyphicon glyphicon-ok"></i>
            }
        </td>
        <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
        <td>
            
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            @if (item.Owner == User.Identity.Name)
            {
                <i class="glyphicon glyphicon-trash"></i>
            }
            @if ((item.Owner != User.Identity.Name) && !(ViewContext.RouteData.Values["Action"] == "PublicProjects"))
            {
                <i class="glyphicon glyphicon-remove"></i>
            }
        </td>
    </tr>
}

</table>
