@model DOGEOnlineGeneralEditor.Models.IndexViewModel
@{
    ViewBag.Title = "Account";
}

<ul class="top-nav">
    <li><a href="/Workspace/MyProjects">My Projects</a></li>
    <li><a href="/Workspace/PublicProjects">Public Projects</a></li>
    <li><a class="active" href="">My Account</a></li>
</ul>

<div class="form-container">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>My Account</h4>
        <hr />
        @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Name)
                @Html.HiddenFor(m => m.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.DisplayFor(m => m.Email)
                @Html.HiddenFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.Gender, ViewData["Genders"] as List<SelectListItem>)
                @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.UserTypeID, ViewData["UserTypes"] as List<SelectListItem>)
                @Html.ValidationMessageFor(m => m.UserTypeID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Update Account" />
            </div>
        }


        @Html.ActionLink("Change my password", "ChangePassword")
    </div>
</div>