@using DOGEOnlineGeneralEditor.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}



<div class="form-container">
    <h2>@ViewBag.Title.</h2>

    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })

                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-default" />
            </div>
        }
        <p>
            @Html.ActionLink("Register as a new user", "Register")
        </p>
    </section>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}