@model DOGEOnlineGeneralEditor.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="form-container">
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Gender, ViewData["Genders"] as List<SelectListItem>))
            @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.UserTypeID, ViewData["UserTypes"] as List<SelectListItem>))
            @Html.ValidationMessageFor(m => m.UserTypeID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    }
    <p>
        @Html.ActionLink("Already a user? Log in", "Login")
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
