@using DOGEOnlineGeneralEditor.Models.ViewModels
@model MyProjectsViewModel
@{
    ViewData["Title"] = "My Projects";
}

@{Html.RenderPartial("_ProjectsNav"); }

<div class="project-table">
    <input type="text" class="search-box" placeholder="Search.." id="my-search">
    <button class="project-button" onclick="location.href='@Url.Action("Create", "Project")';return false;">Create New</button>
    <button class="project-button">Open Project</button>
    <div class="scroll">
        <table id="myprojcets">
            <tr>
                <th>Name of project</th>
                <th>Number of Files</th>
                <th>Date Created</th>
                <th>Owner</th>
            </tr>
            @foreach(var item in Model.MyProjects)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Details", "Project", new { id = item.ProjectID }, null)</td>
                    <td>@item.FileCount</td>
                    <td>@item.DateCreated</td>
                    <td>@item.Owner</td>
                </tr>
            }
        </table>

    </div>
    <button class="delete-button">Delete Project</button>
</div>

<div class="project-table">
    <div class="scroll">
        <table id="shared-projects">
            <tr>
                <th>Name of project</th>
                <th>Number of Files</th>
                <th>Date Created</th>
                <th>Owner</th>
            </tr>
            @foreach (var item in Model.CollaborationProjects)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Details", "Project", new { id = item.ProjectID }, null)</td>
                    <td>@item.FileCount</td>
                    <td>@item.DateCreated</td>
                    <td>@item.Owner</td>
                </tr>
            }
        </table>
    </div>
    <button class="leave-button">Leave Project</button>
</div>