@using DOGEOnlineGeneralEditor.Models.ViewModels
@model MyProjectsViewModel
@{
    ViewData["Title"] = "My Projects";
}

@Scripts.Render("~/bundles/jquery")

@{Html.RenderPartial("_ProjectsNav"); }

@if (TempData["Success"] != null)
{
    <div>@TempData["Success"]</div>
}
<div class="project-table">
    <input type="text" class="search-box" placeholder="Search.." id="my-search">
    <button class="create-button" onclick="location.href='@Url.Action("Create", "Project")';return false;">Create New</button>
    <button class="open-button">Open Project</button>
    <div class="scroll">
        <table id="my-projects">
            <thead>
                <tr>
                    <th>Name of project</th>
                    <th>Number of Files</th>
                    <th>Date Created</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MyProjects)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Name, "Details", "Project", new { id = item.ProjectID }, null)</td>
                        <td>@item.FileCount</td>
                        <td>@item.DateCreated</td>
                        <td>@item.Owner</td>
                        <td class="hidden-col">@item.ProjectID</td>
                    </tr>
                }
            </tbody>
    </table>

    </div>
    <button class="delete-button">Delete Project</button>
</div>

<div class="project-table">
    <div class="scroll">
        <table id="shared-projects">
            <thead>
                <tr>
                    <th>Name of project</th>
                    <th>Number of Files</th>
                    <th>Date Created</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CollaborationProjects)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Name, "Details", "Project", new { id = item.ProjectID }, null)</td>
                        <td>@item.FileCount</td>
                        <td>@item.DateCreated</td>
                        <td>@item.Owner</td>
                        <td class="hidden-col">@item.ProjectID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <button class="leave-button">Leave Project</button>
</div>


<script type="text/javascript">
    $("#my-projcets tbody tr").click(function () {
        $('tr').removeClass('highlighted');
        $(this).addClass('highlighted');
    });

    $("#shared-projects tbody tr").click(function () {
        $('tr').removeClass('highlighted');
        $(this).addClass('highlighted');
    });

    $(".open-button").on('click', function (e) {
        var ID = $('.highlighted td:nth-child(5)').html();
        window.location.href = '/Project/Details/' + ID;
    });



    $(".delete-button").on('click', function (e) {
        var ID = $('.highlighted td:nth-child(5)').html();
        if (ID) {
            window.location.href = '/Project/Delete/' + ID;
        }
    });

    var $srows = $('#shared-projects tbody tr');
    var $mrows = $('#my-projects tbody tr');
    $('#my-search').keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $srows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();

        $mrows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });

</script>