@using DOGEOnlineGeneralEditor.Models.ViewModels;
@model PublicProjectsViewModel

@{
    ViewData["Title"] = "Public Projects";
}

<style>
    table tr:hover {
        background-color: deeppink;
    }

    .highlighted {
        background-color: pink;
    }
</style>

@Scripts.Render("~/bundles/jquery")

@{Html.RenderPartial("_ProjectsNav"); }

<div class="project-table">
    <input type="text" class="search-box" placeholder="Search.." id="public-search">
    <button class="create-button" onclick="location.href='@Url.Action("Create", "Project")';return false;">Create New</button>
    <button class="open-button">Open Project</button>
    <div class="scroll-big">
<<<<<<< HEAD
        
        <table id="public-projcets">
=======
        <table id="public-projects">
>>>>>>> 4b67f8888fe172ee16bc7d31a078c95844b1cf6f
            <thead>
                <tr>
                    <th data-sortable="true">Name of project</th>
                    <th>Number of Files</th>
                    <th>Owner</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PublicProjects)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Name, "Details", "Project", new { id = item.ProjectID }, null)</td>
                        <td>@item.FileCount</td>
                        <td>@item.Owner</td>
                        <td>@item.DateCreated</td>
                        <td class="id-col">@item.ProjectID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script src="~/Scripts/table.js"></script>