@using DOGEOnlineGeneralEditor.Models.ViewModels;
@model PublicProjectsViewModel

@{
    ViewData["Title"] = "Public Projects";
}
<ul class="top-nav">
    <li><a href="/Workspace/MyProjects">My Projects</a></li>
    <li><a class="active" href="">Public Projects</a></li>
    <li><a href="/Account">My Account</a></li>
</ul>

<div class="project-table">
    <input type="text" class="search-box" placeholder="Search.." id="public-search">
    <button class="project-button" onclick="location.href='@Url.Action("Create", "Project")';return false;">Create New</button>
    <button class="project-button">Open Project</button>
    <div class="scroll-big">
        <table id="public-projcets">
            <thead>
                <tr>
                    <th>Name of project</th>
                    <th>Number of Files</th>
                    <th>Owner</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PublicProjects)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.FileCount</td>
                        <td>@item.Owner</td>
                        <td>@item.DateCreated</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>